/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Navbar styling */
.navbar {
  background-color: hsla(31, 86%, 51%, 0.318); /* Background color of the navbar */
  padding: 15px 20px;
  display: flex;
  flex-direction: column; 
  justify-content: center;   /* Center vertically */
  width: 100%;              /* Ensures navbar spans full width */
  height: 60px;             /* Ensure navbar has sufficient height for centering */
  box-sizing: border-box;   /* Ensure padding doesn't affect total width */
  
}

.navbar-heading {
  color: black; /* Heading color */
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}


/* Mobile responsiveness for the navbar */
@media (max-width: 768px) {
  .navbar-heading {
    font-size: 24px; /* Adjust font size for smaller screens */
    
  }
}